<% title(@project.name, "Projects") %>
<h2><%= @project.name %></h2>
<%= admins_only do %>
  <%= link_to t("projects.edit_title"), edit_project_path(@project) %>
  <%= link_to t("projects.delete_title"), @project, :method => :delete, :confirm => t("projects.confirm_msg") %>
<% end %>
<hr />
<h3><%= Ticket.model_name.human %></h3>
<ul>
  <% @project.tickets.each do |ticket| %>
  <li><%= link_to ticket.title, [@project, ticket] %></li>
<% end %>
</ul>
<%= authorized?(:"create tickets", @project) do %>
  <%= link_to t('tickets.new_title'), new_project_ticket_path(@project) %>
<% end %>
