<% title("#{User.model_name.human}") %>
<h2><%= "#{User.model_name.human}" %></h2>

<h2><%= @user %></h2>
<%= link_to t('admin_user.edit_title'), edit_admin_user_path(@user) %> |
<%= link_to t('admin_user.delete_title'), admin_user_path(@user), :method => :delete,
:confirm => t('admin_user.confirm_delete_msg') %> |
<%= link_to t('admin_user.permissions_title'), admin_user_permissions_path(@user) %>
